<div>
  <div class="form-group">
    <label for="inBNom">Nombre del negocio</label>
    <input data-opt="nombre" type="text" class="form-control" id="inBNom">
  </div>
  <!--div class="form-group">
    <label for="inBPwd">Contraseña del adminsitrador</label>
    <div class="input-group pwd-show">
      <input data-opt="admin_pwd" type="password" class="form-control pwd-show" id="inBPwd">
      <label for="dpC1User" class="input-group-addon btn"><span class="glyphicon glyphicon-eye-open"></span>
      </label>
    </div>
  </div-->

  <div class="divider"></div>
  <div class="form-group">
    <label for="inBMail">Email enviar eventos (gmail)</label>
    <input data-opt="mail" type="email" class="form-control" id="inBMail">
  </div>
  <!--div class="form-group">
    <label for="inBMailPWD">Contraseña gmail</label>
    <div class="input-group pwd-show">
      <input data-opt="mail_pass" type="password" class="form-control pwd-show" id="inBMailPWD">
      <label for="dpC1User" class="input-group-addon btn"><span class="glyphicon glyphicon-eye-open"></span>
      </label>
    </div>
  </div-->
  <div>
    <button id="btnTestMail" class="btn btn-info">Enviar correo de prueba</button>
  </div>
</div>
