<div class="form-inline">
  <div id="msgLogin"></div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">ID</label>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
      <input type="password" class="form-control" id="usrID" placeholder="ID del usuario">
    </div>
  </div>
  <button id="btnLogIn" data-tipevnt="in" type="button" class="btn btn-default btnLogS btnLogSIN">Llegada</button>
  <button id="btnLogRest" data-tipevnt="rest" type="button" class="btn btn-default btnLogS btnLogSOUT">Descanso</button>
  <button id="btnLogWc" data-tipevnt="wc" type="button" class="btn btn-default btnLogS btnLogSOUT">Baño</button>
  <button id="btnLogOut" data-tipevnt="out" type="button" class="btn btn-default btnLogS btnLogSOUT">Salida</button>
</div>

<div id="btnConfigAdmin">
  <button id="btnGoConfig" type="button" class="btn btn-primary">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </button>
</div>


<div id=secTime></div>
