<div>
  <div class="form-group" style="display:none">
    <label for="inNewUserID">ID:</label>
    <input type="text" class="form-control" id="inNewUserID">
  </div>

  <div class="form-group">
    <label for="inNewUserNombre">Nombre(s):</label>
    <input type="text" class="form-control" id="inNewUserNombre">
  </div>
  <div class="form-group">
    <label for="inNewUserApellido">Apellidos:</label>
    <input type="text" class="form-control" id="inNewUserApellido">
  </div>

  <div class="checkbox">
    <label>
      <input id="chkNewEsAdmin" type="checkbox"> Es Administrador
    </label>
  </div>
  <div class="form-group">
    <label for="inNewUserPWD">Password</label>
    <input type="password" class="form-control" id="inNewUserPWD" placeholder="Password">
  </div>
</div>
